
.cp-text-color {
  color: var(--accent-color-3);
}

.cp-icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.cp-icon-text-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 0;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
  justify-content: center;
  color: var(--text-color-1);
}

.cp-icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 0;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
  justify-content: center;
}

.cp-icon svg {
  fill: var(--accent-color-1);
  stroke: var(--accent-color-1);
  width: 40px;
  height: 40px;
}

.cp-icon:hover {
  filter: brightness(0.8);
}
