
.wp-item-icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 0;
  font-weight: bold;
  display: inline-block;
  justify-content: center;
}

.wp-item-icon svg {
  width: 100px;
  height: 100px;
}

.wp-item-header {
  color: var(--text-color-1);
  font-size: 30px;
}

.wp-employer-name {
  color: var(--accent-color-3);
  font-size: 18px;
  padding: 0.5em;
  display: inline-block;
}

.wp-employer-name:hover {
  text-decoration: underline;
}

.wp-item-message {
  color: var(--text-color-1);
  font-size: 18px;
}
