
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-color-1: #20232A;
  --bg-color-2: #282c34;
  --bg-color-3: #282830;
  --accent-color-1: #2ed2ff;
  --accent-color-2: black;
  --accent-color-3: #F9AE9F;

  --text-color-1: white;
  --text-color-2: black;
  --text-color-3: var(--accent-color-1);

  --nav-size: 60px;
  --border: 1px solid var(--accent-color-1);
  --speed: 500ms;
}

div {
  background-blend-mode: normal;
}

a {
  text-decoration: none;
}

html { 
  height: 100%;
}
