
.hp-background {
  height: 100vh;
}

@media (min-width: 800px) {
  .hp-background {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-height: 600px) {
  .hp-background {
    height: 100%;
  }
}

@media (max-width: 800px) and (max-height: 600px) {
  .hp-background {
    height: 100%;
  }
}

.hp-background-filter {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
}

@supports (backdrop-filter: none) {
  .hp-background-filter {
    background: none;
    backdrop-filter: blur(5px);
  }
}

.hp-header {
  color: var(--text-color-1);
  font-size: 130px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.hp-sub-header {
  color: var(--text-color-1);
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

.hp-employment-status {
  color: var(--text-color-1);
  font-size: 20px;
  font-style: italic;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .hp-header {
    font-size: 100px;
  }

  .hp-sub-header {
    font-size: 18px;
  }

  .hp-employment-status {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .hp-header {
    font-size: 80px;
  }

  .hp-sub-header {
    font-size: 17px;
    padding-top: 0.75em;
  }

  .hp-employment-status {
    font-size: 17px;
  }
}

.hp-icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 3em;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.hp-icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 0;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
}

.hp-icon svg {
  fill: var(--accent-color-1);
  stroke: var(--accent-color-1);
  width: 45px;
  height: 40px;
}

.hp-icon:hover {
  filter: brightness(0.8);
}

.hp-header-hr {
  width: 50%;
  border-top: 6px solid var(--accent-color-1);
  border-radius: 3px;
  margin-top: 0;
  margin-bottom: 0;
}
