// 
// error_500.jade
// 
// Author: Luis Love
//

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/error_500.css')
  body
    #main
      .fof
        h1= title
        p Something went wrong!
