
.ep-message-uni {
  color: var(--accent-color-3);
}

.ep-message-uni:hover {
  text-decoration: underline;
}

.ep-item-header {
  color: var(--text-color-1);
  font-size: 30px;
}

.ep-item-message {
  color: var(--text-color-1);
  font-size: 18px;
  padding: 0.5em;
}

.ep-item-icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 0;
  font-weight: bold;
  display: inline-block;
  justify-content: center;
}

.ep-item-icon svg {
  fill: var(--accent-color-3);
  stroke: var(--accent-color-3);
  width: 80px;
  height: 80px;
}
